{% extends "A_Web/base.html" %}

{% load static %}

{% block content %}

<div class="contenedorFormulario">

    {% if "valido" in request.GET %} <!--valido es el parámetro que se ha indicado en views linea 15 -->

        <p style="color:white;">Se ha enviado la información correctamente, hasta luego</p>

    {% endif %}

    <form action="" method="POST" style="text-align:center;">

        {% csrf_token %}

        <table style="color:white; margin:20px auto">{{miFormulario.as_table}}</table>
        <input type="submit" value="Enviar" style="width:180px">

    </form>
</div >

{% endblock %}